@font-face {
    font-family: IRANSans_Black;
    src: url('../fonts/IRANSans_Black.ttf');
}
@font-face {
    font-family: IRANSans;
    src: url('../fonts/IRANsans.ttf');
}

@font-face {
    font-family: fontawsomeB;
    src: url('../fonts/webfonts/fa-brands-400.ttf');
}

@font-face {
    font-family: fontawsomeR;
    src: url('../fonts/webfonts/fa-regular-400.ttf');
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('Vazir-opentype'),
         url('../fonts/Vazir.woff') format('woff'),
         url('../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: Vazir-Bold;
    src: url('../fonts/Vazir-Bold.eot');
    src: url('../fonts/Vazir-Bold.eot?#iefix') format('Vazir-Bold-opentype'),
         url('../fonts/Vazir-Bold.woff') format('woff'),
         url('../fonts/Vazir-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }



*{
    margin:0;
    /* border:1px solid red; */
}

body{
    font-family: Vazir,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    color:black;
}

a {
    text-decoration: none;
    color:black;
}

ul{
    list-style-type: none;
    padding:0;
}

header {
    background: #fff;
    /* width:100%; */
    height:50px;
    box-shadow:0 1px 2px 0 rgb(0 , 0 , 0 , 0.12) ;
    padding : 8px 32px 6px 16px;
    vertical-align: middle;
}

.right-menu{
    width: 60%;

}
.right-menu>*{
    display: inline; 
}

header>*{
    display: inline;
    padding : 8px 0;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
}
/* .left-menu>*{
    float: left;
}
.left-menu::after,
.left-menu::before{
    content:"";
    clear: both;
} */

.logo a img {
    width: 48px;
    height: 48px;
    margin-left: 8px;
    vertical-align: middle;
}

.logo a{
    cursor: pointer;
}

.vertical-line{
    height: 1.5em;
    margin: 0 8px;
    border-left: 1px solid #E0E0E0;

}

.menu-btn {
    height: 2.5rem;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    line-height: 2em;
    padding: 0 16px;
    font-size:0.95rem;
    transition: background-color 0.2s ease-in-out ,  color 0.2s ease-in-out;
    color: rgba(0,0,0,.46);
    font-family:Vazir-Bold ;
}
.categories {
    margin-right:16px;
    padding:0 16px 0 0;

}
.menu-btn:hover{
    cursor:pointer;
    background-color : #f5f5f5;
    color: rgba(0,0,0,0.78)
}
.menu-btn i{
    line-height: 1.25 rem;
    margin-left: 5px;

}

.menu-btn span {
    font-size: 0.875rem;

}


.categories i{
    
    line-height: 1.25rem;
        font-size:0.800rem;
    margin-right: 8px;
    margin-left:11px;
}

.search-box {
    background-color: #F5F5F5;
    font-size: 1rem;
    font-weight: 400;
    height:40px ;
    padding: 8px;
    border-radius: 4px;
    margin: 0 8px;
    justify-content: center;
    text-align: center;
    color: rgba(0,0,0,.32);
    
    
}


form {
    display:inline;
    
}
.search-box input {
    border:none;
    background-color: #f5f5f5;
    width:436px;
    font-family:Vazir,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; ; 
}
.search-box input::placeholder{
    color: #BABABA;
    font-size: 0.875rem;
}

.search-box i {
    margin:0 8px;
    font-size: 0.800rem;
    transition: color 0.2s ease ;
}
.search-box:hover{
    color:  rgba(0,0,0,.55);;
}

.advertisement{
    background-color: #a62626;
    color: #fff;
    transform: background-color 0.2s ease;
    margin-right:16px;
    padding-top:2px !important;
}

.advertisement:hover{
    background-color: #BE3737;
    color: #fff;
}

.left-menu {
    padding-right:130px;


}
.left-menu button {
    padding: 0 16px;
}

.support , .chat {
    margin-right:8px;
}

.left-menu span {
    font-size: 0.800rem;
}

.advertisement span {
    font-size: 0.900rem;
}

/* .filter-field {
    
} */
.sidebar{
    width:21%;
    position:sticky;
    padding : 32px 16px;
    
}

.filter-categories a{
    color:rgba(0,0,0,.56);
    padding: 6px 0;
    font-size: 0.875rem;
    cursor: pointer;
    line-height: 2;
    transition: color 0.36s cubic-bezier(0.4, 0, 1, 1);
}

.filter-categories a:hover{
    color: rgba(0,0,0,0.78)
}
.filter-categories i {
    margin: 0 0 2px 8px;
    width:20px;
    height: 20px;
    font-size: 0.95rem;
    
}
.filter-categories li{
    padding:5px 0;
}

.sidebar h2{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 2;
    color: rgba(0,0,0,.56);
    padding:8px 0;
}

.filter-box hr {
    background-color:  rgba(0,0,0,.12);
    border: none;
    height: 1px;
}
.filter-box i {
    color:rgba(0,0,0,.32);
    height: 1.5rem;
    width:1.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
.filter {
    height:40px;
    padding:8px 0; 
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 500;
}

.filter span{
    margin-right: 4px;
    cursor: pointer;
}

.about a {
    font-size: 0.8rem;
    line-height: 2.5rem;
    color:rgba(0,0,0,.56);
    padding: 16px;
    transition: color 0.36s ease;
    cursor: pointer;
}
.about a:hover{
    color: rgba(0,0,0,0.78);
}
.footer {
    padding: 8px 0;
}

.social-icons i {
    width: 15px;
    height: 15px;
    /* display: flex; */
    padding:0 16px;
    color: rgba(0,0,0,.56);
    vertical-align: middle;
    transition: color 0.36s ease;

}
.social-icons i:hover{
    color:rgba(0,0,0,0.78);
}
.social-icons{
    padding:0 40px;
    font-size:1rem;
    height: 40px;
    line-height: 40px;
}


.aparat img{
    width:16px;
    height: 16px;
    align-items: center;
    justify-content: center;
    padding:0 16px;
    opacity:0.56;
    vertical-align: middle;
    transition: opacity 0.36s ease;
}

.aparat img:hover{
    opacity: 0.78;
}

.namads a {
    display:inline;
    cursor: pointer;
}
.namads img {
    width:81px;
    height: 89px;
}
.namads{
    margin:0.875rem;
    justify-content: center;
}


.main>*{
    float:right;
}
.main::before,.main::after{
    content:"";
    clear: both;
}
.content{
    display:inline;
    width:75%;
}

.content-header span {
    margin-left: 4px;
    margin-right:8px;
    font-size:0.75rem;
    font-weight: 700 !important;
    color: rgba(0,0,0,0.78);
}
.content-header img{
    width:24px;
    height: 24px;
}

.notice{
    background-color:  #f0faff;
    border: 1px solid rgba(0,0,0,.12);
    padding:8px;
    justify-content: center;
    width:252px;
    height:24px;
    border-radius:4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}
.content-header{
    margin-top: 32px;
    
}

.content h2{
    text-align: left;
    font-size:0.75rem;
    font-weight: 400;
    color:rgba(0,0,0,.56);
    padding:2px 0 8px;
    /* margin-bottom:24px; */
}


.main{
    width:100%;
}

.card-box {
    height:136px;
    width: calc(calc(100%/3) - 48px);
    padding:8px;
    border:1px solid rgba(0,0,0,.12);
    border-radius: 4px;
    padding:16px;
    margin:8px 0;
    cursor: pointer;
}

.card-middle{
    margin:8px 16px;
}
.card-box>*{
    display:inline-block;
    width:40%;
    align-items: center;
    
}

.card-body {
    width: 45%;
}

.card-feature{
    width: 5%;
    
}

.card-header{
    overflow:hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}
.card-feature i {
    color: rgba(0,0,0,.56);

}
.card-body h2{
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    font-size:1rem;
    color: rgba(0,0,0,0.87);
    line-height: 28px;
    height: 56px;
    font-weight: 700;
    text-align: right;
    /* margin-bottom: 16px; */
    
}
.hidden {
    visibility:hidden;
}
.social-icons i {font-family:fontawsomeB !important;} 
/* .search-box i {font-family:fontawsomeR !important;} */
.card-box span {
    color: #a62626;
    font-size: .75rem;
    /* margin-left: 4px; */
    display: inline;
}
.card-body div {
    color: rgba(0,0,0,.56);
    font-size: .875rem;
    line-height: 24px;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: pre;
}


.card-thumbnail img {
    width: 136px;
    height: 136px;
    border-radius: 4px;
    margin-right:4px;
    
}

.card-thumbnail {
    width:45%;
    text-align: left;
    height:136px;
}
.card-footer{
    font-size: 0.75rem !important;
}

.cards>*{
    display: inline-block;
    
}

.cards {
    border-top: 1px solid rgba(0,0,0,.12);
}

